{% extends "schedule_app/base_template.html" %}
{% load custom_tags %}
<!-- Replace block content in base_template.html -->

{% block content %}

<head>
<style>
    .left-align {
        text-align: left;
    }
    .schedule-label {
        display: inline-block;
        width: 200px; /* Adjust the width as needed */
    }
</style>
</head>
<body>

<h2> {{schedule.employee.name}}'s schedule</h2>
<p></p>
<div class="left-align">
    
     <ul><p><strong class="schedule-label"><u>Week:</strong></u>    {{ schedule.week }}</p>
   
    <li><p><strong class="schedule-label">Sunday:</strong> {{ schedule.sunday_start }} - {{ schedule.sunday_end}}</p></li>
    <li><p><strong class="schedule-label">Monday:</strong> {{ schedule.monday_start }} - {{ schedule.monday_end }}</p></li>
    <li><p><strong class="schedule-label">Tuesday:</strong> {{ schedule.tuesday_start }} - {{ schedule.tuesday_end }}</p></li>
    <li><p><strong class="schedule-label">Wednesday:</strong> {{ schedule.wednesday_start }} - {{ schedule.wednesday_end }}</p></li>
    <li><p><strong class="schedule-label">Thursday:</strong> {{ schedule.thursday_start }} - {{ schedule.thursday_end }}</p></li>
    <li><p><strong class="schedule-label">Friday:</strong> {{ schedule.friday_start }} - {{ schedule.friday_end }}</p></li>
    <li><p><strong class="schedule-label">Saturday:</strong> {{ schedule.saturday_start }} - {{ schedule.saturday_end }}</p></li>
    </ul>
</div>
{% if user|has_group:"manager_role" %}
<a class="btn btn-warning" href="{% url 'update_schedule' schedule.id %}" role="button">Edit</a>
{% endif %}
</body>

{% endblock %}
